.logement {
  .description {
    margin-top: 30px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .leftposition {
      background-color: #fff;
    }
    .rightposition {
      background-color: #fff;
      .host-name {
        margin-bottom: 21px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        p {
          color: #ff6060;
          text-align: right;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .rating-flexend {
        display: flex;
        justify-content: flex-end;
      }
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
    h2 {
      color: #ff6060;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 500;
      margin: 0px;
    }
    h3 {
      color: #000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      margin: 0px;
    }
    .tags {
      margin: 20px 0 0 0;
      padding: 0px;
      display: flex;
      gap: 10px;
      list-style-type: none;
      li {
        border-radius: 10px;
        background: #ff6060;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 30px;
        display: flex;
        align-items: center;
      }
    }
  }

  .section-collapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
    margin: 0 0 50px 0;
  }
}
