.logement {
  margin: 0 7.5vw 50px 7.5vw;
  .description {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
    .rightposition {
      .host-name {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        p {
          color: #ff6060;
          text-align: right;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .rating-flexend {
        display: flex;
        justify-content: flex-end;
      }
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
    h2 {
      color: #ff6060;
      font-size: 36px;
      font-weight: 500;
      margin: 0px;
    }
    h3 {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      margin: 0px;
    }
    .tags {
      margin: 20px 0 0 0;
      padding: 0px;
      display: flex;
      gap: 10px;
      list-style-type: none;
      li {
        border-radius: 10px;
        background: #ff6060;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 30px;
        display: flex;
        align-items: center;
      }
    }
  }
  .section-collapse {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 76px;
  }
}

@media (max-width: 1000px) {
  .logement {
    margin: 27px 20px 27px 20px;
    .left-size,
    .right-size {
      width: 24px;
      height: 24px;
    }
    .description {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 13px;
      .leftposition {
        margin-bottom: 16px;
        h2 {
          font-size: 18px;
        }
        h3 {
          font-size: 14px;
        }
        .tags {
          li {
            font-size: 10px;
            padding: 5px 20px;
          }
        }
      }
      .rightposition {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .host-name {
          margin: 0;
          p {
            margin: 0;
            font-size: 12px;
          }
        }
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
    .section-collapse {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .rating-size {
      width: 98px;
      height: 18px;
    }

    .rating-flexend {
      display: flex;
      align-items: center;
    }
    .section-collapse {
      .accordion-title {
        padding: 10px;
        font-size: 13px;
        align-items: center;
        .toggle-size {
          width: 24px;
          height: 24px;
        }
        h2 {
          font-size: 13px;
        }
      }
    }
  }
}
