header {
  display: flex;
  justify-content: space-between;
  margin: 45px 7.5vw 50px 7.5vw;
  nav {
    display: flex;
    ul {
      display: flex;
      padding: 0px;
      gap: 57px;
      a {
        text-decoration: none;
        color: black;
        &.active {
          text-decoration: underline;
        }
      }
      li {
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    margin: 20px 20px 0 20px;
    img {
      width: 100px;
      height: 45px;
    }
    nav {
      ul {
        align-items: center;
        margin: 0;
        gap: 26px;
        li {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }
  }
}
